@import '../../css/Config.scss';

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    padding: 30px;
    background-color: #fff;
    box-shadow: -7px 0 18px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 800px) {
        width: 250px;
    }

    @media screen and (max-width: 600px) {
        width: 150px;
        padding: 0;
    }

    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: all 200ms ease;

        &.fade-out {
            opacity: 0;
        }

        &.fade-in {
            opacity: 1;
        }
    }

    &__item {
        position: relative;
        flex: 1;
        text-align: center;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-145deg, rgba(0, 0, 0, 0.3), #000 85%);
            opacity: 0;
            transition:
                opacity $default-transition-speed ease;
        }

        span {
            font-size: 10px;
            text-transform: uppercase;
            position: relative;
            top: 50%;
            padding: 6px;
            letter-spacing: 1px;
            background-color: #000;
            display: inline-block;
            transform: translate3d(0,-50%,0);
            transition: 
                opacity 300ms ease,
                transform 300ms ease;
        }

        &:hover {
            &:before {
                opacity: 0.3;
            }

            span {
                transform: translate3d(0,0,0);
                opacity: 0.2;
            }
        }
    }
}
